{% extends "base.html" %}

{% load static %}

{% block headerLinks %}
    <a class="nav-link active" aria-current="page" href="/">Game</a>
    <a class="nav-link" href="/records">Records</a>
{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class = "col col-lg-4">
        <canvas width="400" height="400" id="game"></canvas>
        <div id="viewsol" class="row gx-5">
        </div>
    </div>
    <div class="col-lg-4 text-center">
         <div class="table-responsive-lg" style="max-height: 400px; overflow: auto; display: inline-block">
            <table class="table table-dark">
            <thead style="position: sticky; top: 0">
                <tr>
                <th scope="col">Direction: Steps</th>
                </tr>
            </thead>
            <tbody id="tbody">
            </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}


{% block scripts %}
<script src="{% static "/js/game.js" %}"></script>
<script> const CSRFToken = "{{ csrf_token}}"; </script>
{% endblock %}
