{% extends "base.html" %}

{% load static %}

{% block headerLinks %}
    <a class="nav-link active" aria-current="page" href="/">Game</a>
    <a class="nav-link" href="/records">Records</a>
{% endblock %}

{% block content %}
<div>
    <div class="container px-4">
        <h6>Use your Keyboard arrows, move Green Bot to the Red objective.</h6>
        <h6>Click Records to view all your moves and stats</h6>
    <div>
    <div class="container px-4">
        <div class="row gx-5">
            <div class="col">
                <canvas width="400" height="400" id="game"></canvas>
            </div>
        </div>
        {% csrf_token %}
        <div id="viewsol" class="row gx-5">
        </div>
    </div>
</div>

{% endblock %}


{% block scripts %}
<script src="{% static "/js/game.js" %}"></script>
<script> const CSRFToken = "{{ csrf_token}}"; </script>
{% endblock %}
